$colorPrincipal: #fc8621;
$limite: 8;
$unidad: 16px;
@import "header";
@import "nosotros";
@import "destinos";
@import "banner";
@import "servicios";
@import "contacto";
@import "footer";

body {
    font-family: 'Work Sans', sans-serif;
}

@for $i from 1 to $limite {

    .m-#{$i} {
        margin: $i * $unidad;
    }

    .p-#{$i} {
        padding: $i * $unidad;
    }
}

/* ----- Accordion ----- */

.accordion-item {
    font-size: 1.10rem;
    h2 {
        button {
            font-size: 1.30rem;
        }
    }
}

.accordion-button:not(.collapsed) {
    color: #7a7a7a;
    font-weight: bold;
    background: #fff;
}

/* ----- Fin Accordion ----- */

/* ----- Próximamente ----- */

#proximamente {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(30, 24, 4, 0.5), rgba(4, 9, 30, 0.5)), url(../images/playa.jpg);
    background-position: center;
    background-size: cover;
    .proximamente__text {
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        h2 {
            font-size: 5.5rem;
            font-weight: bold;
        }
        p {
            font-size: 1.5rem;
        }
        a {
            font-size: 1.25rem;
            text-transform: uppercase;
            text-decoration: none;
            letter-spacing: 2px;
            color: white;
            padding: 10px;
            border-radius: 5px;
            border: none;
            background-color: #efba6c;
            transition: .5s;
            &:hover {
                background-color: $colorPrincipal;
            }
        }
    }
}

/* ----- Fin Próximamente ----- */

/* ----- Responsive ----- */

@media screen and (max-width: 768px) {

    .header {
        .nav-link {
            font-size: 1.5rem;
        }
        &__text {
            h1 {
                font-size: 5rem;
            }
        }
    }

    #historia {
        p {
            font-size: 1.25rem;
        }
    }

    .encabezado {
        &__fondo {
            font-size: 3.75rem;
        }
        &__subtitulo {
            font-size: 1.50rem;
        }
        h3 {
            font-size: 2rem;
        }
    }

    #proximamente {
        .proximamente__text {
            h2 {
                font-size: 3rem;
                font-weight: bold;
            }
            p {
                font-size: 1.25rem;
            }
            a {
                font-size: 1.10rem;
            }
        }
    }
}

@media screen and (max-width: 576px) {

    .header {
        .nav-link {
            font-size: 1rem;
        }
        .navbar-brand {
            img {
                width: 175px;
            }
        }
        &__text {
            h1 {
                font-size: 3rem;
                text-align: center;
            }
            p {
                display: none;
            }
        }
    }


    #historia, #mision {
        p {
            font-size: 1rem;
        }
    }

    .encabezado {
        &__fondo {
            font-size: 3rem;
        }
        &__subtitulo {
            font-size: 1rem;
        }
        h3 {
            font-size: 1.5rem;
        }
    }

    .accordion-item {
        font-size: .90rem;
        h2 {
            button {
                font-size: 1rem;
            }
        }
    }

    #banner {
        h2 {
            font-size: 2rem;
        }
        p {
            font-size: 1rem;
        }
        a {
            font-size: 1rem;
        }
    }

    .formulario {
        &__item {
            font-size: 1rem;
        }
        button {
            font-size: .85rem;
        }
        h3 {
            font-size: 1.25rem;
        }
        &__lista {
            font-size: 1rem;
        }
    }

    #proximamente {
        .proximamente__text {
            h2 {
                font-size: 2.5rem;
                font-weight: bold;
            }
            p {
                font-size: 1rem;
            }
            a {
                font-size: 0.80rem;
            }
        }
    }
}

/* ----- Fin Responsive ----- */